page-pacientes-form {
    
    font-family: 'Poppins',sans-serif;
    font-size: 14px;

    .content{
        background-image: url('../../assets/imgs/background4.png');
        background-repeat: no-repeat;
        background-position: center;
    }

    .margin-input-top{
        margin-top: 10px;
    }

    
    
}
